@import "~colors.scss";

div.footer {
    font-size: smaller;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    background-color: $dark-background;
    color: $dark-font;
    a {
        color: $external-link;
    }
}