@import "~colors.scss";

$taskElementBorder: 1px solid $second-color;
$today-color: yellowgreen;
$item-size: 50px;
$control-panel-color: #2b0296;



.task-list2 {
    font-size: 24px;
    margin-top: 7px;
    display: flex;
    color: lighten($second-color, 20);
    .task-date {
        background-color: #666;
        border-left: $taskElementBorder;
        border-top: $taskElementBorder;
        .td-item {
            height: $item-size;
            background-color: #585858;
            line-height: $item-size;
            text-align: center;
            border-bottom: $taskElementBorder;
            cursor: default;
            width: $item-size;
            overflow: hidden;
            span {
                display: block;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: 30px;
                background-position: 10px 10px;
                transform: scale(1.1);
            }
            span.done {
                background-color: $done-color;
                background-image: url("~images/circle.svg");
            }
            span.fail {
                background-color: $fail-color;
                background-image: url("~images/cross2.svg");
            }
            span.unknown {
                background-color: $unknown-color;
            }
            span.unknown:hover {
                background-color: saturate(lighten($unknown-color, 20), 40);
            }
        }
    }
    .task-date.today {
        border-left: 5px solid $today-color;
        border-right: 5px solid $today-color;
        .td-date {
            background-color: $today-color;
            border-color: $today-color;
            color: $color-background;
        }
        .td-item {
            cursor: pointer;
        }
    }
    .task-date.today + .task-date{
        border-left: none;
    }
    .task-date:hover:not(.today) .td-date {
        background-color: #656565;
    }
    .task-date:last-child {
        border-right: $taskElementBorder;
    }
}
.task-labels {
    .label-container {
        display: flex;
    }
    .tl-label {
        //color: #22003c;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #777;
        white-space: nowrap;
        padding-left: 15px;
        border-bottom: $taskElementBorder;
        height: $item-size;
        width: 200px;
        position: relative;
    }
    .tl-label:first-child {
        cursor: auto;
    }
    .tl-label:hover {
        color: $new-color-1;
    }
    .tl-label::after {
        content: '';
        position: absolute;
        right: 0; top: 0;
        height: 100%;
        width: 60px;
        background: linear-gradient(to right, transparent, #777 80%);
    }

    .tl-label > .label-container {
        display: flex;
    }
    .tl-label.completed {
        background-color: #00b100;
        color: white;
    }
    .tl-label.completed::after {
        background: linear-gradient(to right, transparent, #00b100 80%);
    }
    .label-container {
        > .task {
            width: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
        }
        > .popup {
            z-index: 3;
            height: $item-size;
            width: ($item-size + 1) * 14;
            overflow: hidden;
            position: relative;
        }
        > .popup::before {
            content: "";
            z-index: -1;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .label-container .popup {
        .control-panel {
            border-left: $taskElementBorder;
            height: 50px;
            width: 200px;
            display: flex;
            align-items: center;
            background-color: $control-panel-color;
            span {
                width: $item-size;
                display: block;
                height: 100%;
                background-repeat: no-repeat;
                background-size: 30px;
                background-position: 10px 10px;
                border-right: $taskElementBorder;
            }
            span:last-child {
                width: $item-size;
            }
            span.edit {
                background-image: url("~images/edit-2.svg");
            }
            span.remove {
                background-image: url("~images/delete.svg");
            }
        }
        .fake-items {
            display: flex;
            top: 0;
            left: 0;
            position: absolute;
            transition: left, .5s;
            .fake-item {
                width: $item-size;
                height: $item-size;
                border-left: $taskElementBorder;
                overflow: hidden;
                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position: 10px 10px;
                    transform: scale(1.1);
                }
                span.done {
                    background-color: $done-color;
                    background-image: url("~images/circle.svg");
                }
                span.fail {
                    background-color: $fail-color;
                    background-image: url("~images/cross2.svg");
                }
                span.unknown {
                    background-color: $unknown-color;
                }
            }
            .fake-item.today {
                border-left: 5px solid $today-color;
                border-right: 5px solid $today-color;
                + .fake-item {
                    border-left: none;
                }
            }

            &.offset {
                left: ($item-size + 1px) * 2;
                transition: left, .5s;
            }
        }
    }
}

.loader {
    width: 700px;
    height: 300px;
    margin: 10% auto auto;
    background-color: green;
    .anima {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #444;
        width: 700px;
        height: 300px;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .row {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }
    .dot {
        width: 20px;
        height: 70px;
        background-color: aqua;
        border-radius: 3px;
        animation-name: pulse;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        animation-direction: alternate-reverse;
    }
    .dot.n1 {
        animation-delay: -2s;
    }
    .dot.n2 {
        animation-delay: -1.9s;
    }
    .dot.n3 {
        animation-delay: -1.8s;
    }
    .dot.n4 {
        animation-delay: -1.7s;
    }
    .dot.n5 {
        animation-delay: -1.6s;
    }

    @keyframes pulse {
        from {
            transform: scale(.8);
            filter: blur(2px);
            opacity: 0.1
        }
        to {
            transform: scale(1.6)
        }
    }
}

// task list fade in animation
.listFadeIn-enter-active {
    transition: opacity 0.4s;
}
.listFadeIn-enter {
    opacity: 0;
}
.listFadeIn-enter-to {
    opacity: 1;
}