@import "~colors.scss";

.app-header {
    display: flex;
    justify-content: space-between;
    border: 2px solid $rgba-secondary-1-2;
    background-color: $color-secondary-1-4;
    .logout {
        font-size: 1.5em;
        float: right;
        margin-right: 10px;
        line-height: 50px;
        color: greenyellow;
        text-decoration: none;
    }
    .r-link {
        cursor: pointer;
        color: #d8d8d8;;
        border: none;
        border-right: 2px solid $rgba-secondary-1-2;
        text-transform: uppercase;
        font-size: 1.5em;
        height: 50px;
        padding: 3px 10px;
        background-color: $color-secondary-1-4;
    }
    .r-link:hover {
        background-color: $color-secondary-1-1;
    }
    .r-link.router-link-active {
        background-color: $color-secondary-1-2;
    }
}