$taskElementBorder: 1px solid gray;

.task-list {
    margin-top: 7px;
    .task-element {
        background-color: #99c96f;
        padding: 5px;
        border-top: $taskElementBorder;
        border-right: $taskElementBorder;
        border-left: $taskElementBorder;
    }
    .task-element:last-child {
        border-bottom: $taskElementBorder;
    }
}