@import "~colors.scss";

$second-color: #86b9b3;
$taskElementBorder: 1px solid $second-color;

.task-list {
    font-size: 24px;
    margin-top: 7px;
    .task-element {
        background-color: #666;
        color: #86b9b3;
        padding: 8px;
        border-top: $taskElementBorder;
        border-right: $taskElementBorder;
        border-left: $taskElementBorder;
    }
    .task-element:last-child {
        border-bottom: $taskElementBorder;
    }
}